@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

body {
   font-family:'Arimo', sans-serif;
      padding: 20px 48px;

}

header {
  display: flex;
  flex-direction: row;
 text-transform: uppercase;
  color: hsl(215, 98%, 24%);
  background-color: hsl(0, 0%, 100%);
  align-items: center;
 font-size: 14px;
 }

 

a {
  text-decoration: none;
  color: inherit;
  
  margin-left: 20px;
}

.meta{
  flex: 1 1 0
}


.primary-navigation {
  display: inline-block;
  flex: 1 1 0;
  
}

.register {
display: 2 1 0;
}

.primary-navigation > ul {
  display:inline-flex;
  flex-flow: row nowrap;

}


#logo {
max-height: 40px;
  background-color: inherit;
  display: inline-block;

}

#register {
  display: inline-block;
  margin-right: 5px;
}

.pitch{
display: flex;
justify-content: space-between;
}

.pitch > div {
flex-basis: 100%;
}

.testiomonial {

}

.footer-nav {

display: flex;
background-color: hsl(215, 98%, 24%);
color: hsl(0, 0%, 100%);
}

.nav-menu {
  display: flex;
}

.nav-menu h4 {
  padding-bottom: 10px;
  text-align: center;
  }

.nav-menu li {
 
  
}

.actions {
display: flex;
flex-direction: column;
justify-content: flex-start;
}

.footer-2{
display: flex;
  justify-content: space-between;
  margin-top: 12px;
  font-size: 8px;
}

.footer-2 li {
  font-size: 12px;
}

footer {
  
   padding: 20px 48px;
}

#social-links {
  display: flex;
}

