@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Krub:wght@300&display=swap');


body {
  font-family: 'Krub', sans-serif;
  margin: 20px 20px;
  color: hsl(215, 98%, 24%);
  margin-left: 15px;
  background-color: hsl(0, 0%, 100%);
}

main {
  margin: 20px 20px;
  color: hsl(240, 5%, 29%);
}

header {
display: flex;
flex-basis: 100%;
justify-content: center;

}

.nav {
  display: flex;
  flex-basis: 92%;
  flex-direction: row;
  text-transform: uppercase;
  color: hsl(208, 77%, 16%);
  background-color: hsl(0, 0%, 100%);
  align-items: center;
  font-size: 18px;
  margin: 0px 10px;
  font-weight: 600;
  padding: 15px 15px;
  box-shadow: 1px 2px 5px hsl(0, 0%, 95%);
  text-transform: uppercase;
}

#logo {
  max-height: 40px;
  background-color: inherit;


}

.meta {
  flex: 1 1 15%;
  display: inline-block;
}

a {
  text-decoration: none;
  cursor: pointer;
}


.primary-navigation {
  display: inline-block;
  flex: 1 1 40%;

}

.primary-navigation>ul {
  display: inline-flex;
  flex-flow: row nowrap;

}

.primary-navigation a {
  color: inherit;
  margin-left: 20px;
}

.actions>a {
  width: 5em;
  border: 0;
  border-radius: 0.3em;
  color: hsl(208, 77%, 16%);
  background: hsl(0, 0%, 97%);
  font-size: 16px;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.3em 2em;
  margin: 0.25em;
  box-shadow: 1px 2px 5px gray;
  text-transform: uppercase;

}

.nav .actions {
  flex: 0 1 5%;
}

a:link {
  color: inherit;
}

a:visited {
  color: inherit;
}

.nav a:hover {
  color: hsl(208, 74%, 39%);
}

h1, h2 {

  font-size: 34px;
  line-height: 40px;
  font-family: 'Arimo', sans-serif;
  align-self: center;
  color: hsl(215, 98%, 24%);
  text-align: center;
}

.pitch {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  align-content: center;
  padding-bottom: 30px;

}

.left-menu, .hilight, .testimonial {
  padding: 1.5vh;
  box-shadow: 1px 2px 5px hsl(0, 0%, 95%);
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.left-menu {
  display: flex;
  flex-basis: 45%;
  justify-content: space-around;
  flex-wrap: wrap;
}

#pitch-head {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#pitch-head h3 {
  font-size: 20px;
  line-height: 1.35;
  margin: auto 10%;
}

#photo-grid {
  display: flex;
  flex-basis: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 5px;

}

#photo-grid img {
  max-width: 25vh;
  box-shadow: 1px 2px 5px gray;

}

.hilight {
  display: flex;
  flex-basis: 45%;
  flex-direction: column;
  align-items: center;
}

.hilight img {
  max-width: 35vh;

  align-self: center;
  box-shadow: 1px 2px 5px gray;

}

.hilight h2 {
  padding-top: 5vh;
}

#hilight-box, #testimonial-box, #photo-grid {
  padding: 1.5vh;
  box-shadow: 1px 2px 5px hsl(0, 0%, 95%);
  background-color: hsl(0, 0%, 95%);

}

#story {

  margin: 20px;
  padding: 7px 10%;
  line-height: 1.4;
  letter-spacing: 1.3;


}

.testimonial {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  justify-content: space-around;
  align-content: center;
  row-gap: 10px;
  flex-wrap: wrap;
  margin: 10px 20%;
  align-items: center;
  padding-bottom: 50px;
  font-family: 'Arimo', sans-serif;
  

}


.testimonial img {
  max-width: 20vh;
  align-self: center;
  line-height: 1;
  box-shadow: 1px 2px 5px gray;

}

.testimonial h3 {
  text-align: center;
  font-size: 20px;
  line-height: 1.15;
  color: hsl(215, 98%, 24%);
  margin-bottom: 1em;
}

.footer-nav {
  display: flex;
  color: hsl(0, 0%, 97%);
  background-color: hsl(208, 77%, 16%);
  justify-content: flex-start;
  flex-basis: 100%;
  padding: 20px;
}

#left-nav {
  display: flex;
  justify-content: flex-start;
  flex: 1 1 50%;
}

#left-nav img {
  background: transparent;
  max-width: 50vh;
}

.nav-menu {
  flex: 1 1 20%;
  display: flex;
  line-height: 1.2;
  justify-content: space-between;
  align-content: flex-start;
  margin: 5px 20px;
}

h5 {
  margin-bottom: 20 px;
  font-weight: 600;
}

.footer-nav>.actions {
  display: flex;
  flex-direction: column;
  flex: 1 1 5%;
  justify-content: flex-start;
  align-items: flex-end;
  padding-top: 10px;
}


.footer-nav .actions>a {
  color: hsl(208, 77%, 16%);
  background: hsl(0, 0%, 97%);
}

.footer-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  font-size: 16px;
  flex-basis: 100%;
  color: hsl(208, 77%, 16%);
  background-color: hsl(0, 0%, 95%);
}

#copyright {
  align-self: flex-start;
  flex-basis: 50%;
  padding: 20px;
  font-size: 16px;
  width: 50px;
}


#social {
  display: inline-flex;
  flex-flow: row nowrap;
  flex-basis: 50%;
  justify-content: flex-end;
  font-size: 16px;
  align-items: center;
}

#social>ul {
  display: inline-flex;
  flex-flow: row nowrap;
  align-self: stretch;

}

#social li {
  padding-left: 15px;

}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}